---
layout: home
# articles:
#   excerpt_type: html
---

<h1>Laboratory of Mathematics for Biology And Medicine</h1>

<img class="hero_img" src="./assets/safari-pinned-tab.svg" />

<p>
  Our research group is interested in the development of mathematical and
  computational methods for the analysis of biological and medical data.
  <br />
  <strong>Check out our latest researches and events!</strong>
</p>

<h2>Researches</h2>
<ul>
  {% for research in site.research %}
  <li>
    <a href="{{ research.url }}">
      <p>{{research.title}}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<hr />

<h2>Events</h2>
{% for event in site.events limit:5 %}
<div
  upcoming-date="{{ event.standard_date | date: '%Y%m%d' }}"
  class="card_event_wrapper"
>
  <a href="{{ event.url }}">
    <div class="card_event">
      {% if event.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="150"
        height="150"
      />
      {% else %}
      <img
        class="event_photo"
        src="{{ event.photo }}"
        width="150"
        height="150"
      />
      {% endif %}
      <div class="event_info">
        <h4>{{ event.title }}</h4>
        {% if event.speaker != blank %}
        <p><span>Speaker:</span> {{ event.speaker}}</p>
        {% endif %}
        <p class="event_date">{{ event.standard_date }} {{event.time}}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %}

<!-- js script to get today's date -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script>
  function getCompareDate() {
    var d = new Date(),
      month = "" + (d.getMonth() + 1),
      day = "" + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2) month = "0" + month;
    if (day.length < 2) day = "0" + day;
    return [year, month, day].join("");
  }

  $("[past-date]").each(function () {
    if ($(this).attr("past-date") >= getCompareDate()) $(this).hide();
  });

  $("[upcoming-date]").each(function () {
    if ($(this).attr("upcoming-date") < getCompareDate()) $(this).hide();
  });
</script>
