/* start custom scss snippet */

// PEOPLE PAGE

ul {
    padding-inline-start: 15px;
}

.cards_people_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    .card_person {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-block: 25px;
        padding-inline: 20px;
        margin: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        
        // a {
        //     color: black;
        // }
    }
}

.profile_photo {
    border-radius: 10px;
}

.links_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-inline-start: -15px;

    ul {
        list-style: none;
    }
}

// TEACHING PAGE

.cards_teaching_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: justify;
}

// FOOTER

.footer {
    min-height: 20vh;

    .university_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        max-width: 90vw;
        padding-inline: 20px;
        margin-block-end: 40px;

        .vl {
            border-left: 2px solid rgba(0, 0, 0, 0.25);
            height: 100px;
            left: 50%;
          }

        li {
            list-style: none;
        }
    }
}

// 404 PAGE

.sign {
    text-align: center;
}

// DEBUG

// * {
//     border: 1px solid red;
// }

/* end custom scss snippet */
