/* start custom scss snippet */

// PEOPLE PAGE

ul {
    padding-inline-start: 15px;
}

.cards_people_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    .card_person {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-block: 25px;
        padding-inline: 20px;
        margin: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;

        box-shadow: 2px 5px 10px rgba(0,0,0,.1);
        
        // a {
        //     color: black;
        // }
    }
}

.profile_photo {
    border-radius: 10px;
}

.links_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-inline-start: -15px;

    ul {
        list-style: none;
    }
}

// RESEARCH PAGE
.research_card_wrapper {
}


// TEACHING PAGE

.cards_testimonial_wrapper {

}

.card_testimonial_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    padding-block: 15px;
    padding-inline: 20px;
    margin: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    
    box-shadow: 2px 5px 10px rgba(0,0,0,.1);
    
    img {
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,.75);
    }

    .testimonial_info {
        position: relative;
        display: flex;
        flex-direction: column;
        
        span {
            font-family: 'Space Grotesk', sans-serif;
            position: absolute;
            // font-style: italic;
            font-size: 10rem;
            font-weight: 900;
            color: rgba(0,0,0,1);
            opacity: 5%;
        }

        .left {
            top: -40px;
            left: 0px;
            rotate: 5deg;
        }
        
        .right {
            top: -40px;
            right: 10px;
            rotate: -5deg;
        }

        a {
            margin-block-start: -15px;
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }
}

// EVENTS PAGE

.card_event_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    padding-block: 15px;
    padding-inline: 20px;
    margin: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;

    box-shadow: 2px 5px 10px rgba(0,0,0,.1);

    a {
        font-weight: 400;
    }

    p {
        color: black;

        span {
            font-weight: 600;
        }
    }

    .card_event {
        display: flex;
        flex-direction: row;

        gap: 10px;

        .event_photo {
            align-self: center;
            border: 1px solid rgba(0,0,0,.75);
            border-radius: 10px;
        }

        .event_info {
            display: flex;
            flex-direction: column;

            .event_date {
                margin-block-start: -10px;
                color:rgba(0, 0, 0, 0.6);
            }
        }
    }
}

// EVENT PAGE

.image_section {    
    position: relative;
    right: 0%;

    min-width: 100%;
    max-height: 350px;

    .placeholder {
        object-fit: contain;
    }
    
    img {
        object-fit: cover;
        object-position: 50% 0%;
        border: 1px solid rgba(0,0,0,.75);
    }
}

// FOOTER

.footer {
    min-height: 20vh;

    .university_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        max-width: 90vw;
        padding-inline: 20px;
        margin-block-end: 40px;

        span {
            font-weight: 600;
        }

        .vl {
            border-left: 2px solid rgba(0, 0, 0, 0.25);
            height: 100px;
            left: 50%;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        li {
            list-style: none;
        }

        a {
            font-weight: 400;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}

// DEBUG

// * {
//     border: 1px solid red;
// }

/* end custom scss snippet */
