---
layout: page
---

<h2>Upcoming Events</h2>
<hr />
{% for event in site.events %} 
{% assign now = "now" | date: "%Y-%m-%d" %}
{% assign show = event.standard_date | date: "%Y-%m-%d" %}
{% if show >= now %}
  <div class="cards_events_wrapper">  
      <a href="{{ event.url }}">
        <div class="card_event">
          <img
            class="event_photo"
            src="{{ event.photo }}"
            width="150"
            height="150"
          />
          <div class="event_info">
            <h4>{{ event.title }}</h4>
            <p><span>Speaker:</span> {{ event.speaker}}</p>
            <p>{{ event.standard_date }}, {{event.time}}</p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}

<h2>Past Events</h2>
<hr />
{% for event in site.events %} 
{% assign now = "now" | date: "%Y-%m-%d" %}
{% assign show = event.standard_date | date: "%Y-%m-%d" %}
{% if show < now %}
  <div class="cards_events_wrapper">  
      <a href="{{ event.url }}">
        <div class="card_event">
          <img
            class="event_photo"
            src="{{ event.photo }}"
            width="150"
            height="150"
          />
          <div class="event_info">
            <h4>{{ event.title }}</h4>
            <p><span>Speaker:</span> {{ event.speaker}}</p>
            <p>{{ event.standard_date }}, {{event.time}}</p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}