---
layout: page
---

<h2>Faculty</h2>
<div class="cards_people_wrapper">
  {% for member in site.faculty %}
  <div class="card_person">
    <a href="{{ member.url }}">
      <img
        class="profile_photo"
        src="{{ member.photo }}"
      />
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Postdoctoral And Postgraduated Fellows</h2>
<div class="cards_people_wrapper">
  {% for member in site.postdoc %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>PhD Students/Candidates</h2>
<div class="cards_people_wrapper">
  {% for member in site.phd %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Master Students</h2>

<div class="student-grid">
{% assign past = site.master | where_exp: "member", "member.graduation_year != blank" | sort: 'graduation_year' | reverse %}
{% assign curr = site.master | where_exp: "member", "member.graduation_year == blank" %}
{% assign students = curr | concat: past %}
{% for member in students %}
<div class="student-card">
  {% if member.graduation_year == blank %}
  <span class="graduation-year">in progress</span>
  {% else %}
  <span class="graduation-year">{{ member.graduation_year }}</span>
  {% endif %}
  <h3 class="student-name">{{ member.name }}</h3>
  <p class="student-thesis">🎓 <strong>Thesis:</strong> {{ member.thesis_title }}</p>
  <p class="student-supervisors">👨‍🏫 <strong>Supervisors:</strong> {{ member.supervisors }}</p>
  {% if member.external_institution %}
    <p class="student-external">🏛️ <strong>Visiting:</strong> {{ member.external_institution }}</p>
  {% endif %}
</div>
{% endfor %}
</div>

<h2>Alumni</h2>
<div class="cards_people_wrapper">
  {% for member in site.alumni %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>
