---
layout: page
---

<h2>Faculty</h2>
<div class="grid">
  {% for member in site.data.people.faculty %}
  <div>
    <img class="rounded" src="{{ member.photo }}" width="100" height="100" />
    <p>{{ member.name }}</p>
  </div>
  {% endfor %}
</div>

<h2>Postdoctoral Fellows</h2>
<div>
  {% for member in site.data.people.postdoc %}
  <p>{{ member.name }}</p>
  {% endfor %}
</div>

<h2>Graduate Students</h2>
<div>
  {% for member in site.data.people.graduate %}
  <p>{{ member.name }}</p>
  {% endfor %}
</div>

<h2>Active Master Students</h2>
<div>
  {% for member in site.data.people.master %}
  <p>{{ member.name }}</p>
  {% endfor %}
</div>

<h2>Alumni</h2>
<div>
  {% for member in site.data.people.alumni %}
  <p>{{ member.name }}</p>
  {% endfor %}
</div>
