---
layout: page
---

<h2>Faculty</h2>
<div class="cards_people_wrapper">
  {% for member in site.faculty %}
  <div class="card_person">
    <a href="{{ member.url }}">
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Postdoctoral And Postgraduated Fellows</h2>
<div class="cards_people_wrapper">
  {% for member in site.postdoc %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>PhD Students/Candidates</h2>
<div class="cards_people_wrapper">
  {% for member in site.phd %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Master Students</h2>
<h3>Current</h3>
<div class="cards_people_wrapper">
  <ul>
    {% for member in site.master %}
      {% if member.graduation_year == blank %}
        <li>
            {{ member.name }}: {{ member.thesis_title }} ({{ member.supervisors }})
            {% if member.external_institution != blank %}
              , {{ member.external_institution }}
            {% endif %}
            ;
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<h3>Former</h3>
<div class="cards_people_wrapper">
  <ul>
    {% for member in site.master %}
      {% if member.graduation_year != blank %}
        <li>
            {{ member.name }}: {{ member.thesis_title }} ({{ member.supervisors }})
            {% if member.external_institution != blank %}
              , {{ member.external_institution }}
            {% endif %}
            , {{ member.graduation_year }} ;
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<h2>Alumni</h2>
<div class="cards_people_wrapper">
  {% for member in site.alumni %}
  <div class="card_person">
    <a href="{{ member.url }}">
      {% if member.photo == blank %}
      <img
        class="event_photo"
        src="assets/android-chrome-512x512.png"
        width="100"
        height="100"
      />
      {% else %}
      <img
        class="profile_photo"
        src="{{ member.photo }}"
        width="100"
        height="100"
      />
      {% endif %}
      <p>{{ member.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>
