---
layout: page
---

<h1>{{page.title}}</h1>

{% if page.toc != blank %}
<div class="tableOfContent">
    <p>In this page you will find:</p>
    <ul class="tocList">
        {% for content in page.toc %}
        <li class="tocResearch">
            <a href="#{{content[1].anchor}}">
                {% if content[1].imgLink != blank %}
                <img src="{{content[1].imgLink}}" alt="{{content[1].title}}" class="tocImg" />
                {% endif %}
                <p class="tocText">
                    {{content[1].title}} -
                    Reference person: {{content[1].contact}}
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="txt-justify">{{content}}</div>

<script>
    let imagesNodes = document.querySelectorAll('img');
    let imagesArray = [...imagesNodes];

    // wrap all images but the first one in a div
    imagesArray.slice(1).map((img) => { // remove header logo image
        let div = document.createElement('div');
        div.classList.add('img-wrapper');
        img.classList.add('sub-research-img');
        img.parentElement.insertBefore(div, img);
        div.appendChild(img);
    });

    // convert all h4 tags and right following div into collapsible
    let h4Nodes = document.querySelectorAll('h4');
    let h4Array = [...h4Nodes];

    // add button to h4 to expand and collapse
    h4Array.map((h4) => {
        h4.classList.add('h4-styling');

        let parent = h4.parentElement;

        let button = document.createElement('button');
        button.innerHTML = '+';
        button.classList.add('expand-button');
        h4.appendChild(button);
        // parent.insertBefore(button, h4);

        let div = h4.nextElementSibling;
        div.classList.add('collapsed-div');
    });

    // link collapsible divs to buttons

    // add event listener to button

    let buttons = document.querySelectorAll('.expand-button');
    let buttonsArray = [...buttons];

    buttonsArray.map((button) => {
        button.addEventListener('click', () => {

            // next parent's sibling is the div
            let div = button.parentElement.nextElementSibling;

            if (div.classList.contains("collapsed-div")) {
                div.classList.remove("collapsed-div");
                div.classList.add("expanded-div");
                button.innerHTML = '-';
            } else {
                div.classList.remove("expanded-div");
                div.classList.add("collapsed-div");
                button.innerHTML = '+';
            }
        });
    });

</script>
